{% extends "base1.html" %}
{% block content %}
{% load custom_tags %}
	{% if ord is not NONE %}
	<h1 align="center"></h1>
		<table border="1" width="1200" height="50" align="center">
		{% for x in ord %}
		<tr>
			<td colspan='2' align='center'>
			
			<img src="{% get_url x.productid %}" width="150" height="150" /></td>
			<td><h2 align='center'> name {% get_name x.productid %}</h2></td>
			<td><h2 align='center'>Price is:  {% get_price x.productid %}</h2></td>
			<td><h2 align='center'>Delivery on<br>{{x.ddate }} </h2></td>
			<td><h2 align='center'>Order placed on<br>{{x.ordertime}} </h2></td>
			
		</tr>
		{% endfor %}
		
		</table>
	{% else %}
		<p>There are no order placed.</p>
	{% endif %}

{% endblock %}